<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.auw.kfc">

    <uses-sdk tools:overrideLibrary="com.aliyun.alink.linksdk.tmp" />

    <application
        android:name=".KFCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".activity.TakeOutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activity.ScanResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activity.QRCordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.QRcordFailureActivity" />
        <activity android:name=".activity.SystemSetActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="640" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="400" />
    </application>

</manifest>